.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .wrapper {
    border-radius: 30px;
    padding: 40px;
    background-color: white;
    box-shadow: 0px 4px 67px -12px #00000021;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-bottom: 48px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 34px;
    max-width: 280px;
  }

  .fields, 
  .buttons {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  
  .input {
    width: 280;
    height: 52px;
    border-radius: 8px;
    padding: 16px 18px;
    border: 1px solid #D0CECE;
    box-shadow: 0 0 0px 1000px white inset !important;
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: 0px;
  }
  
  .input:focus {
    outline: none;
    border-color: #D0CECE;
  }

  .input_error {
    outline: none;
    border-color: red !important;
  }
  
  .loginButton {
    border-radius: 46px;
    padding: 16px 26px;
    background-color: #BCEC30;
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: 0px;
    border: none;
    cursor: pointer;
  }
  
  .loginButton:hover {
    background: #C6FF00;
  }

  .loginButton:active {
    background: black;
    color: white;
  }

  .loginButton_inactive {
    background: #F7F7F7;
    color: #999999;
    outline: none;
  }

  .registerButton {
    border-radius: 46px;
    padding: 16px 26px;
    background-color: transparent;
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: 0px;
    border: 1px solid #000000;
    cursor: pointer;
  }
  
  .registerButton:hover {
    background: #F7F7F7;
  }

  .registerButton:active {
    background: #E9ECED;
  }

  .fieldWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  
  /* .input_error {
    border-color: red !important;
  } */
  
  .errorText {
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    letter-spacing: 0px;
    text-align: center;
    color: #F84D4D;
  }
  
  .loginButton:disabled,
  .registerButton:disabled {
    background: transparent;
    background: #999999;
    border: 1px solid #999999;
    cursor: not-allowed;
  }
  