.container {
    background-color: #f9fafb;
  }
  
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 48px 16px;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 48px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
  }
  
  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .error {
    text-align: center;
    color: #ef4444;
    font-size: 1.2rem;
    grid-column: 1 / -1;
    padding: 40px;
  }

  .main {
    min-height: 100vh;
    background-color: #f9fafb;
  }
  
  .titles {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 60px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .heroTitle {
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0px;
    color: #202020;
    padding: 16px 20px;
    background: #BCEC30;
    border-radius: 5px;
    height: fit-content;
    width: 289px;
  }
  
  .heroSubtitle {
    font-weight: 500;
    font-size: 60px;
    line-height: 100%;
    color: black;
  }

  .punchblock {
    position: relative;
  }

  .punchblock_svg {
    position: absolute;
    top: 85px;
    left: 115px;
  }

  .coursesSection {
    padding: 50px 0 34px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
  }
  
  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .error {
    text-align: center;
    color: #ef4444;
    font-size: 1.2rem;
    grid-column: 1 / -1;
    padding: 40px;
  }

  @media (max-width: 376px) {
    .main {
        margin: 0 16px;
      }

      .titles {
        margin-top: 40px;
      }

      .heroSubtitle {
        font-size: 32px;
      }

      .punchblock {
        display: none;
      }

      .coursesSection {
        padding-top: 34px;
        border-bottom: 24px;
      }
  }
  