.container {
  min-height: calc(100vh - 72px);
  background-color: #f9fafb;
  padding: 40px 20px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.loading {
  text-align: center;
  font-size: 1.2rem;
  color: #4a4a4a;
  padding: 40px;
  grid-column: 1 / -1;
}

.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  color: black;
  margin-bottom: 40px;
}

.userInfo {
  background-color: white;
  border-radius: 30px;
  padding: 30px;
  margin-bottom: 60px;
  box-shadow: 0px 4px 67px -12px #00000021;
}

.infoItem {
  display: flex;
  gap: 33px;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.userData {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.userName {
  font-weight: 500;
  font-size: 32px;
  line-height: 110%;
  color: black;
}

.userEmail {
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  color: black;
}

.exitBtn {
  border: 1px solid #000000;
  padding: 16px 26px;
  border-radius: 46px;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  color: black;
  cursor: pointer;
}

.emptyMessage {
  text-align: center;
  color: #4a4a4a;
  font-size: 16px;
  padding: 40px;
}

.coursesList {
  display: flex;
  gap: 59px;
  flex-wrap: wrap;
}

.error {
  text-align: center;
  font-size: 18px;
  color: #ef4444;
  padding: 40px;
}

@media (max-width: 376px) {
  .container {
    padding: 40px 16px;
  }

  .title {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 24px;
  }

  .userInfo {
    margin-bottom: 24px;
  }

  .infoItem {
    gap: 30px;
    flex-direction: column;
  }

  .photo {
    display: flex;
    justify-content: center;
  }

  .photoMobile {
    width: 141px;
    height: 141px;
  }

  .infoBlock {
    gap: 20px;
  }

  .userData {
    gap: 20px;
  }

  .userName {
    font-size: 24px;
  }

  .userEmail {
    font-size: 16px;
  }

  .exitBtn {
    font-size: 16px;
  }

  .coursesList {
    gap: 24px;
    flex-direction: column;
  }

  .wrapper {
    margin-bottom: 24px;
  }
}